/* Componente usado para los enlaces de control de inicio */

.boton {
    color: var(--fuente-color-principal);
    background-color: var(--color-fondo-enlaces);
    padding: 1vh 2vw;
    font-weight: var(--fuente-weight-enlaces);
    border-radius: 30px;
} 

/* Modificador para el boton, se genera un diseño distinto */
.boton--secundario {
    background-color: transparent; 
    color: var(--fuente-color-principal);
    border: 1px solid var(--color-bordes);
}

/* Modificador para los botones de los formularios */
.boton--form {
    border: none;
}