/* Componente usado para los enlaces de control de inicio */

.boton {
    color: var(--fuente-color-principal);
    background-color: var(--color-fondo-enlaces);
    padding: 1vh 2vw;
    font-weight: var(--fuente-weight-enlaces);
    border-radius: 30px;
    transition: all 0.3s ease-in-out; /* Transición suave para todas las propiedades */
    will-change: transform; /* Mejora el rendimiento */
} 

/* Modificador para el boton, se genera un diseño distinto */
.boton--secundario {
    background-color: transparent; 
    color: var(--fuente-color-principal);
    border: 1px solid var(--color-bordes);
}

/* Modificador para los botones de los formularios */
.boton--form {
    border: none;
    font-size: var(--fuente-size-boton);
}

/* Pseudoelementos para el boton cuando pase el cursos */
.boton:hover {
    background-color: var(--color-base-claro); 
    transform: translateY(-1px) scale(1.01); /* Se cambia la escala para el efecto de salto */
}

.boton--secundario:hover {
    color: var(--fuente-color-principal);
    border: solid 1px var(--color-base-claro);
    transform: translateY(-1px) scale(1.01); 
}