/* Componente: Cards de información con sus citas */

/* Estilos para el componente, el contenedor */
.card-citas {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-pequeño-alto);

    padding: var(--espaciado-pequeño-alto) var(--espaciado-mediano-ancho);
    border: 2px solid var(--color-bordes-card-pendiente);
    background-color: var(--fondo-color-principal);
    border-radius: var(--radio-bordes-cards);
    border-right: 2vw solid var(--color-bordes-card-pendiente);

    width: 90%;
    height: auto;
}
/* Elemento: Estilos para el titulo */
.card-citas__titulo {
    font-size: var(--fuente-size-h3);
}
/* Elemento: Estilos para un contendeor con la información */
.card-citas__contenido {
    display: flex;
    justify-content: space-around;
}
/* Elemento: Se aplican estilos */
.card-citas__column {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-pequeño-alto);
    align-items: start;
    width: 30%;
}
/* Se cambia la alineación de los itemas de la columna del inicio al final */
.card-citas__column--alineacion {
    align-items: end;
}
/* Elemento: Contenedor de los elementos de información */
.card-citas__informacion {
    display: flex;
    gap: var(--espaciado-pequeño-ancho);
}
/* Elemento: Estilos para la clave */
.card-citas__clave {
    font-weight: var(--peso-medio);
    font-size: var(--fuente-size-p);
}
/* Elemento: Estilos para el valor */
.card-citas__valor {
    font-weight: var(--peso-bajo);
    font-size: var(--fuente-size-p);
}
/* Elemento: Estilos para el boton de mostrar mas información */
.card-citas__detalles {
    padding: 5px 20px;
    border-radius: var(--radio-bordes-bajo);
    border: 1px solid var(--fuente-color-enlaces);
    background-color: rgba(116, 0, 161, 0.1);
    color: var(--fuente-color-enlaces-claro);
}
/* Pseudo-clase para cambiar el diseño del boton al pasar el cursor */
.card-citas__detalles:hover {
    transition: 0.3s;
    background-color: rgba(116, 0, 161, 0.5);
}

/* Modificador: Se cambia el estilo del boton para la sección de historial */
.card-citas--finalizadas {
    border: 2px solid var(--color-bordes-card-terminada);
    border-right: 2vw solid var(--color-bordes-card-terminada);
}

