/* assets/components/_header.css */

.main-header {
    /* Propiedades para ubicar los elementos */
    display: flex;
    justify-content: space-between; 
    padding: var(--espaciado-header-height) var(--espaciado-header-width); 
    align-items: center; 
}

/* Estilos para el elemento del logo*/
.main-header__logo {
    font-size: var(--fuente-size-h1);
    font-weight: var(--fuente-weight-titulos); 
}

/* Estilos para la etiqueta nav */
.main-header__nav {
    display: flex;
    gap: 1rem;
}