/* Componente:  */

.terminos {
    max-width: 1050px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 120px;
}

/* Estilo del titulo principal */
.terminos__titulo {
    font-size: var(--fuente-size-h2);
    color: var(--fuente-color-principal);
    text-align: center;
    margin-bottom: 2rem;
}

/* Estilo de los subtitulos */
.terminos__subtitulo {
    font-size: var(--fuente-size-h3);
    color: var(--fuente-color-principal);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Estilo de los parrafos */
.terminos__parrafo {
    font-size: var(--fuente-size-p);
    color: var(--fuente-color-principal);
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: justify;
}

/* Estilo de las listas */
.terminos__lista {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    color: var(--fuente-color-principal);
}

/* Estilo de los items de lista */
.terminos__item {
    font-size: var(--fuente-size-p);
    color: var(--fuente-color-principal);
    line-height: 1.1;
    margin-bottom: 0.5rem;
}