/* Archivo que contiene estilos para la pagina de gestion citas */

/* Estilos especificos para la pagina de gestion citas */
.main-citas {
    grid-area: main;
    padding: 0 0.5rem;
}

/* Contenedor principal que agrupa el contenido de las citas */
.contenido-principal {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: var(--radio-bordes-contendor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaciado-mediano-alto);
    width: 100%;
    height: 100%;
}

/* Titulo de la seccion principal */
.contenido-principal__titulo {
    margin-top: var(--espaciado-mediano-alto);
    font-size: var(--fuente-size-h2);
    font-family: var(--fuente-titulos);
}

/* Contenedor de la lista de citas */
.contenido-principal__citas {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaciado-mediano-alto);
    padding-bottom: 2rem;
}