/* Archivo que generara estilos para la imagen de fondo del archivo index.html */

.index-fondo {
    /* Estilos para posicionar el fondo */
    z-index: -999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    /* Imagen y efecto oscuro */
    background-image: linear-gradient(
            rgba(0, 0, 0, 1) 0%,      /* Negro sólido en la parte superior (0% del div) */
            rgba(0, 0, 0, 0.4) 8%,   /* Semi-transparente cerca del borde (20%) */
            rgba(0, 0, 0, 0.4) 92%,   /* Mantiene el semi-transparente en el centro */
            rgba(0, 0, 0, 1) 100%     /* Negro sólido en la parte inferior (100% del div) */
            ), url(../images/fondo_index.html.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}