/* Pagina que aplica estilos a la seccion principal */

/* Se crea una subgrid para main */
.pagina-main--grid {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
/* Se define el espacio que usaran los contenidos */
.pagina-main__contenido {
    grid-column: 2 / 12;
    grid-row: 1 / 3;
}
/* Se define la disposición del contenido */
.pagina-main__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Se aplican estilos a los titulos */
.pagina-main__titulo {
    font-family: var(--fuente-titulos);
    font-size: var(--fuente-size-h1);
}
/* Se aplican estilos a los parrafos */
.pagina-main__texto {
    font-size: var(--fuente-size-p);
    text-align: center;
    margin-bottom: var(--espaciado-pequeño-alto);
}
/* Se aplican estilos para modificar los elementos del formulario */
.pagina-main__formulario {
    display: flex;
    width: 100%;
}
/* Se añade propiedades específicas para el input */
.pagina-main__input {
    margin-right: var(--espaciado-pequeño-ancho);
}

.pagina-main__mapa {
    grid-column: 2 / 12;
    grid-row: 3 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
}



