/* Page para aplicar estilos especificos a la sección de formulario */

.pagina-main__formulario-cita {
    grid-column: 2 / 12;
    grid-row: 4 / 12;
    display: flex;
}

.seccion-envio {
    background-color: rgba(0,0,0,0.8);
    width: 35%;
    border-top-left-radius: var(--radio-bordes-contendor);
    border-bottom-left-radius: var(--radio-bordes-contendor);
    padding: 1rem;
}

.seccion-envio__contenido {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--espaciado-pequeño-alto);
}

.seccion-envio__titulo {
    font-size: var(--fuente-size-h2);
    font-weight: var(--fuente-weight-sub-titulos);
}

.seccion-envio__direccion {
  font-size: var(--fuente-size-p);
  font-weight: var(--peso-bajo);
  margin-bottom: var(--espaciado-mediano-alto);
}

.seccion-campos {
    background-color: var(--fondos-secundarios);
    width: 75%;
    border-top-right-radius: var(--radio-bordes-contendor);
    border-bottom-right-radius: var(--radio-bordes-contendor);
}

