/* Archivo que contiene todo el contenido visual */

/* Import para frameworks, fuentes, iconos */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* Configuraciones base y estructurales para todo el proyecto */
@import url(utils/base.css); /* Custom propierties, selector universal */
@import url(utils/layout.css); /* Grid, estructuras de las paginas */ 

/* Fondos y estilos para paginas especificas */
@import url(pages/index-fondo.css);

/* Componentes */
@import url(components/enlaces.css);
