/* Archivo que contiene el selector universal y las custom propierties */

* { /* Selector universal para resetear propiedades */
    margin: 0; /* Margenes en 0 */
    padding: 0; /* Espacio exterior en 0 */
    box-sizing: border-box; /* Calculamos el tama単o de los elementos con ancho y altura */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    list-style: none; /* Elimina los puntos de las listas */
}

/* Custom Propierties */
:root {
    /* Bold y tipo de letra */
    --fuente-principal-body: "Red Hat Display", sans-serif; /* Tipo de letra de la pagina */
    --fuente-titulos: "Nunito", sans-serif; /* Estilo de fuente para los titulos */
    --fuente-weight-titulos: 700;
    --fuente-weight-sub-titulos: 500;
    --fuente-weight-base: 200;
    --fuente-weight-enlaces: 500;
    
    /* Colores */
    --fondo-color-principal: #000;
    --color-logo: #fff;
    --fuente-color-principal: #fff;
    --fuente-color-enlaces: #7400a1;
    --color-fondo-enlaces: #7400a1;
    --fondos-secundarios: #fff;
    
    /* Tama単os */
    --fuente-size-base: 16px;
    --fuente-size-h2: 2rem;
    --fuente-size-p: 1.2rem;
    --espaciado-peque単o-ancho: 15px;
    --espaciado-peque単o-alto: 8px;


    /* Bordes */
    --color-bordes: #fff;
    --radio-bordes-inputs: 20px;
}

/* Reseteo de propiedades para la etiqueta body */
body {
    /* Estilos para la fuente */
    font-family: var(--fuente-principal-body);
    font-weight: var(--fuente-weight-base);
    font-size: var(--fuente-size-base);
    color: var(--fuente-color-principal);

    /* Estilos de colores  */
    background-color: var(--fondo-color-principal);
}

/* Propiedades especificas para evitar el desborde de imagenes */
img {
    display: block; /* Block evita un espacio entre las imagenes*/
    height: 100%;
    width: auto;
}
