/* Archivo que contiene el selector universal y las custom propierties */

* { /* Selector universal para resetear propiedades */
    margin: 0; /* Margenes en 0 */
    padding: 0; /* Espacio exterior en 0 */
    box-sizing: border-box; /* Calculamos el tamaño de los elementos con ancho y altura */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    list-style: none; /* Elimina los puntos de las listas */
}

/* Custom Propierties */
:root {
    /* Bold y tipo de letra */
    --fuente-principal-body: "Red Hat Display", sans-serif; /* Tipo de letra de la pagina */
    --fuente-titulos: "Nunito", sans-serif; /* Estilo de fuente para los titulos */
    --fuente-size-h2: 700;
    --fuente-weight-titulos: 700;
    --fuente-weight-sub-titulos: 600;
    --fuente-weight-enlaces: 500;
    --fuente-weight-base: 200;
    
    /* Colores */
    --fondo-color-principal: #000;
    --fondo-color-sidebar: #222;
    --color-logo: #fff;
    --fuente-color-principal: #fff;
    --fuente-color-secundario: #000;
    --fuente-color-enlaces: #7400a1;
    --fuente-color-enlaces-claro: #b853e0;
    --color-fondo-enlaces: #7400a1;
    --fondos-secundarios: #fff;
    --color-checkeado: #55c455;

    --peso-alto: 900;
    --peso-medio-alto: 600;
    --peso-medio: 400;
    --peso-medio-bajo: 300;
    --peso-bajo: 200;

    /* Estilos para pseudoelementos */
    --color-base-claro: #90179b;
    
    /* Tamaños */
    --fuente-size-pequeño: 0.9rem; /* Tamaño pensado en textos de tamaño menor a la fuente raiz */
    --fuente-size-base: 16px;
    --fuente-size-h1: 2.3rem;
    --fuente-size-h2: 1.8rem;
    --fuente-size-h3: 1.5rem;
    --fuente-size-p: 1.1rem;
    --tamaño-enlaces: 1rem;
    --fuente-size-boton: 1.2rem;
    --fuente-size-label: 1.3rem;
    --fuente-logo-footer: 1.2rem;

    --ancho-conenido: 800px;
    --ancho-formulario-grande: 450px;

    /* Espacios */
    --espaciado-header-height: 3vh;
    --espaciado-header-width: 5vh;

    --espaciado-pequeño-ancho: 15px;
    --espaciado-pequeño-alto: 10px;

    --espaciado-mediano-alto: 15px;
    --espaciado-mediano-ancho: 22px;

    --espaciado-grande-alto: 30px;
    --espaciado-grande-ancho: 40px;

    --espaciado-contendor: 2rem;
    --padding-contenedor-form: 1.2rem;


    /* Bordes */
    --color-bordes: #fff;
    --color-bordes-card-pendiente: #5E0002;
    --radio-bordes-bajo: 15px;
    --radio-bordes-contendor: 20px;
    --radio-bordes-cards: 30px;
    --radio-bordes-inputs: 22px;

    /* Estilos para los iconos */
    --colores-morados: #77008f4f;
}

/* Reseteo de propiedades para la etiqueta body */
body {
    /* Estilos para la fuente */
    font-family: var(--fuente-principal-body);
    font-weight: var(--fuente-weight-base);
    font-size: var(--fuente-size-base);
    color: var(--fuente-color-principal);

    /* Estilos de colores  */
    background-color: var(--fondo-color-principal);
}

/* Propiedades especificas para evitar el desborde de imagenes */
img {
    display: block; /* Block evita un espacio entre las imagenes*/
    height: 100%;
    width: auto;
}
