/* Layout para la estructura principal de la pagina */

.body-principal {
    display: grid;

    grid-template-columns: 0.01fr 0.8fr repeat(3, 1fr);
    grid-template-rows: auto repeat(3, 1fr) 0.05fr;

    grid-template-areas: 
        "header header header header header"
        ". sidebar main main main"
        ". sidebar main main main"
        ". sidebar main main main"
        ". . . .  ."
    ;
}

.main-header {
    grid-area: header;
}

.main-sidebar {
    grid-area: sidebar;
}

.pagina-main {
    grid-area: main;
}