/* Archivo con la estructura grid y flexbox para las paginas */

body {
    min-height: 100vh;
    /* Defino el tamaño minimo del alto */

    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        /* Se definen los nombres de las filas */
        "header"
        "main"
        "footer";
}



.main-header {
    grid-area: header;
}

.pagina-main {
    grid-area: main;
}

.main-footer {
    grid-area: footer;
}